PORT=3000

# --- Local MySQL (XAMPP / Docker) ---
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=
# DB_NAME=demo_credit_wallet
# DB_SSL=false

# --- Aiven MySQL (https://console.aiven.io/) ---
# Use the *MySQL* service connection info (host must contain "mysql", not "clickhouse").
DB_HOST=mysql-xxxxxxxx.a.aivencloud.com
DB_PORT=12345
DB_USER=avnadmin
DB_PASSWORD=your_aiven_password
DB_NAME=defaultdb
DB_SSL=true
DB_SSL_CA=certs/aiven-ca.pem

ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2
ADJUTOR_API_KEY=
