PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
# XAMPP default is empty password. Set a value if your MySQL root has a password.
DB_NAME=demo_credit_wallet
# Required for Aiven / cloud MySQL (e.g. Render production)
DB_SSL=false

ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2
ADJUTOR_API_KEY=
